*{
	margin : 0;
	padding : 0;
}
body
{
	font-family: sans-serif;
}

/*************nav bar*************/
#nav-bar
{
	position: sticky;
	top:0;
	z-index:10;
}
.navbar
{
	background-image: linear-gradient(to right, black, black);
	padding: 0 ! important; 
}
.navbar-brand img
{
	height:40px;
	padding-left: 40px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	color: #fff !important;
	font-weight: 600;
}

/*************first image*************/
.backimage{
	background-image: url("images/12.jpg");
	background-size: 100% 100%
	background-attachment: fixed;
	width: 1360px;
	height: 600px;
}

/*************header-set*************/
.headerset {
	padding-top: 200px;
	box-sizing: border-box;
}
.headerset h2
{
font-size:45px;
}
.headerset h1
{
font-size:60px;
}

/*************contact*************/


