*
{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.brand
{
	font-size: 30px;
	font-weight: 20px;
}
.menu-bar
{
	background-image: linear-gradient(to right , violet, black)
}
/*******************nav bar ***************/
.nav-link
{
	font-size: 16px;
	color: #fff !important;
	margin: 2px;
}
.navbar-brand img
{
	height:40px;
	padding-left: 40px;
}

/*******************backimage ***************/
.backimage{
	background-image: url("images/12.jpg");
	background-size: 100% 100%
	background-attachment: fixed;
	width: 100%;
	height: 600px;
}

/*************social media*************/
#social-media p
{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
   
}
.social-icons img
{
	width:60px;
	transition: 0.5s;
}
.social-icons a:hover img
{
	transform: translateY(-10px);
}

/*******************footer***************/
#footer
{
	background :#333;
	color:#fff;
	padding: 12px;
}





