*
{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.brand
{
	font-size: 30px;
	font-weight: 20px;
}
.menu-bar
{
	background-image: linear-gradient(to right , violet, black)
}
/*******************nav bar ***************/
.nav-link
{
	font-size: 16px;
	color: #fff !important;
	margin: 2px;
}
.navbar-brand img
{
	height:40px;
	padding-left: 40px;
}

/*******************backimage ***************/
.backimage{
	background-image: url("images/12.jpg");
	background-size: 100% 100%
	background-attachment: fixed;
	width: 100%;
	height: 600px;
}

/*******************contatct ***************/
#Contact
{
	background: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
}
.conatct-form
{
	padding: 20px;

}
.form-control
{
	border-radius: 0!important;
	border: none!important;
}
::placeholder
{
	color : #999!important;
}
.follow
{
	background : #fff;
	padding: 10px;
	margin: 15px;
}
/*******************customer support ***************/
.customer-support
{
padding: 10px;
	margin: 15px;	
}

/*******************footer***************/
#footer
{
	background :#333;
	color:#fff;
	padding: 12px;
}





