
*{
	margin : 0;
	padding : 0;
}
body
{
	font-family: sans-serif;
}
#nav-bar
{
	position: sticky;
	top:0;
	z-index:10;
}
.navbar
{
	background-image: linear-gradient(to right, black, black);
	padding: 0 ! important; 
}
.navbar-brand img
{
	height:40px;
	padding-left: 40px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	color: #fff !important;
	font-weight: 600;
}


.backimage{
	background-image: url("images/3.png");
	background-size: 100% 100%
	background-attachment: fixed;
	width: 1360px;
	height: 600px;
}


.headerset {
	padding-top: 100px;
	box-sizing: border-box;
}
.headerset h2
{
font-size:50px;
}


#social-media
{
	background: #f8f8fa;
	padding: 100px 0;
}
#social-media p
{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
   
}